body {
    margin: 40px;
    background-color: #e9e9e9;
    font-family: Open Sans, sans-serif;
    font-size: 0.8rem;
    background-color: black;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20rem 25rem auto;
  color: #444;
}

.box {
  background-color: #cdcdcd;
  color: black;
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;
}

.b {
  grid-column: 1 / span 0;
  grid-rows: 1 / span 2;
  
}

/*Background from Home depot https://www.homedepot.com/p/Home-Decorators-Collection-Strand-Woven-Mahogany-3-8-in-T-x-5-1-8-in-W-x-72-in-L-Engineered-Click-Bamboo-Flooring-HD13006A/205112446*/
.a {
  grid-column: 1 / span 3;
  background-image: url('/images/mahogany.png');
  background-repeat: repeat;
}
.c {
  grid-column: 2 / span 1;
  
}
.d {
  grid-column: 3 / span 1;
  
}
.e{
    grid-column: 2 / span 1;
}

div.a section {
    display: grid;		/* programmatically change this to "grid" when gallery clicked */
    grid-gap: 5px;
    grid-template-columns: 10rem auto;	
}
div.b section {
    display: block;	  /* go ahead and change this to "block" when you have received data */
}
div.c section {
    display: block;    /* programmatically change this to "block" when gallery clicked */
}

                                        /*All heading related CSS*/
.header{
    padding-bottom: 1em;
}

.article-header {
    display: block;
    color: white;
    padding-left: 10cm;
}

h1 {
    font-weight: bold;
    font-family: Times;
    font-size: 25pt;
    
}
.article-subtitle{
    color: silver;
    font-family: Times;
    padding-left: 12cm;
    font-weight: bold;
}

.article-credits {
    float: right;
    color: white;
}

.iex {
  visibility: hidden;
}


@media screen and (max-width: 480px) {
    .box {
        width: 100%;
    }
} 

@media (min-width: 481px) and (max-width: 768px) {
    .box{
        width: 48%;
    }
}